  @font-face {
    font-family: "Consolas";
    src: url(../fonts/Consolas.ttf) format("truetype");
  }

  :root {
    --mouse-x: 0;
    --mouse-y: 0;
  }
  
  html {
    overflow: hidden;
    background-color: #050505;
    height: 100%;
  }

  body {
    margin: 0;
  }

  .bg {
    position: fixed;
    top: 26px;
    bottom: 0%;
    left: 0%;
    right: 0%;

    background: radial-gradient(circle, transparent 20%, #050505 20%, #050505 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #050505 20%, #050505 80%, transparent 80%, transparent) 30px 30px, linear-gradient(#0c0c0c 2.4px, transparent 2.4px) 0 -1.2px, linear-gradient(90deg, #0c0c0c 2.4px, #050505 2.4px) -1.2px 0, #050505;
    background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: radial-gradient(circle, transparent 20%, #05050500 20%, #05050500 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #05050500 20%, #05050500 80%, transparent 80%, transparent) 30px 30px, linear-gradient(#56603d 2.4px, transparent 2.4px) 0 -1.2px, linear-gradient(90deg, #56603d 2.4px, #05050500 2.4px) -1.2px 0, #05050500;
      background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
      -webkit-mask: radial-gradient(15vw at var(--mouse-x) var(--mouse-y), red, transparent);
      mask: radial-gradient(15vw at var(--mouse-x) var(--mouse-y), red, transparent 12.5%);
    }
  }

  .top {
    margin: -10px;
  }
  
  .top .banner {
    margin: 30px -8px 0px -8px;
    border-style: dashed;
    border-color: #999999 #00000000 #00000000;
    border-width: 6px;
    height: 120px;
  }
  
  .banner .name {
    font-family: "Times New Roman", Times, serif;
    font-size: 64px;
    color: #999999;
    position: absolute;
    left: 20px;
    top: 36px;
    text-decoration: none;
    transition: all 0.2s ease-out;
  }
  
  .banner .pseudo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #999999;
    position: absolute;
    right: 30px;
    top: 36px;
    text-decoration: none;
    transition: all 0.2s ease-out;
  }
  
  .banner a:hover {
    color: #56603d;
    transition: all 0.2s ease-out;
  }
  
  .main {
    font-family: Arial, Helvetica, sans-serif;
    color: #56603d;
    text-align: center;
    display: block;
    font-size: 36px;
  }
  
  .main .language-selector {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: bold;
  }
  
  .main select {
    background: none;
    border: none;
    color: #56603d;
    font-size: 26px;
    font-weight: bold;
  }
  
  .main .center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .main button {
    background-color: #00000000;
    border: solid 2px #56603d;
    width: 250px;
    height: 60px;
    color: #56603d;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
  }
  
  .main button:hover {
    backdrop-filter: brightness(250%);
    border: solid 2px #999999;
    color: #999999;
    transition: all 0.2s ease-in-out;
  }
  
  .content {
    background-color: #0c0c0c;
    display: none;
    position: absolute;
    border: 4px solid #000000;
    border-top: 26px solid #000000;
    height: 550px;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -500px;
  }
  
  .terminal {
    font-family: "Consolas";
    color: #56603d;
    font-size: large;
    width: 1000px;
  }
  
  .terminal .help {
    margin: -20px 0 10px 5px;
  }
  
  .terminal .line {
    margin-left: 5px;
  }
  
  .terminal .output {
    margin: 5px 0 10px 5px;
  }

  .output .response {
    overflow-y: auto;
    overflow-x: hidden;
    height: 461px;
    margin-left: -5px;
  }

  .response .project {
    background-color: #050505;
    margin: 3px 0 3px 0;
    display: grid;
    grid-template-columns: 400px 380px 200px;
    gap: 10px;
    position: relative;
    border: 2px solid;
    border-color: #000000 #050505 #000000;
  }

  .project .img {
    text-align: center;
  }

  .project .title {
    font-family: "Times New Roman", Times, serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    word-wrap: break-word;
  }
  
  .project .description {
    font-size: 15px;
    word-wrap: break-word;
  }

  .project .link1 {
    font-size: 20px;
    grid-column: 3;
    grid-row: 1;
    transition: all 0.2s ease-out;
    text-decoration: none;
  }

  .project .link1:hover {
    color: #999999;
    transition: all 0.2s ease-out;
    text-decoration: underline;
  }

  .project .link2 {
    font-size: 20px;
    grid-column: 3;
    grid-row: 1;
    margin-top: 22px;
    transition: all 0.2s ease-out;
    text-decoration: none;
  }

  .project .link2:hover {
    color: #999999;
    transition: all 0.2s ease-out;
    text-decoration: underline;
  }

  .response .skill {
    display: grid;
    grid-template-columns: 80px 150px 100px;
    gap: 10px;
    position: relative;
    margin-left: 20px;
  }

  .skill .logo {
    width: 50px;
    text-align: center;
    align-self: center;
  }

  .skill .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-self: center;
  }
  
  .skill .level {
    text-align: center;
    align-self: center; 
  }

  .terminal input {
    color: #56603d;
    width: 60%;
    border: none;
    background: #0c0c0c;
    font-family: "Consolas";
    font-size: large;
    outline: none;
  }
  
  .content .close_terminal {
    position: relative;
    height: 26px;
    width: 50px;
    background-color: #000000;
    transition: all 0.1s ease-out;
    border: none;
    color: white;
    top: -26px;
    left: 954px;
  }
  
  .close_terminal:hover {
    background-color: red;
    transition: all 0.1s ease-out;
  }
  
  .close_terminal:active {
    background-color: #8b0a14;
  }
  
  .bottom {
    position: fixed;
    left: 50%;
    bottom: 1%;
  }
  
  .banner .links {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: larger;
    transform: translateX(-50%);
  }
  
  .banner .links a {
    text-decoration: none;
    color: #999999;
    margin: 10px;
    transition: all 0.2s ease-out;
  }
  
  .banner .links a:hover {
    color: #56603d;
    transition: all 0.2s ease-out;
  }
  
  .banner .copyrights {
    color: #999999;
    transform: translateX(-90px);
  }
  
  .banner .copyrights a {
    color: #999999;
  }
  