@font-face {
    font-family: "Consolas";
    src: url(./fonts/Consolas.ttf) format("truetype");
}

html {
    overflow: hidden;
    background-color: #56603D;
}

.top {
    background-color: #111111;
    margin: -10px;
    border: 0.1px solid #111111;
}

.top .banner {
    background-color: #111111;
    margin: 20px -18px 20px -18px;
    border-style: dashed;
    border-color: #56603D;
    border-width: 6px;
    height: 120px;
}

.banner .name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    color: #56603D;
    position: absolute;
    left: 20px;
    top: -16px;
}

.banner .pseudo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #56603D;
    position: absolute;
    right: 30px;
    top: -16px;
}

.content {
    background-color: #56603D;
    display: block;
    margin: -10px;
    border: solid 10px#111111;
}

.terminal p{
    font-family: 'Consolas';
}

.banner .links{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.banner .links a {
    text-decoration: none;
}