@font-face {
    font-family: "Consolas";
    src: url(../fonts/Consolas.ttf) format("truetype");
}

html {
    overflow: hidden;
    background-color: #050505;
}

body {
    margin: 0;
}

.top {
    background-color: #050505;
    margin: -10px;
    border: 0.1px solid #050505;
}

.top .banner {
    background-color: #050505;
    margin: 30px -18px 0px -18px;
    border-style: dashed;
    border-color: #999999 #050505 #050505;
    border-width: 6px;
    height: 120px;
}

.banner .name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    color: #999999;
    position: absolute;
    left: 20px;
    top: 36px;
    text-decoration: none;
    transition: all .2s ease-out;
}

.banner .pseudo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #999999;
    position: absolute;
    right: 30px;
    top: 36px;
    text-decoration: none;
    transition: all .2s ease-out;
}

.banner a:hover {
    color: #56603D;
    transition: all .2s ease-out;
}

.content {
    background-color: #0c0c0c;
    display: block;
    position: absolute;
    border: 4px solid #000000;
    border-top: 26px solid #000000;
    height: 64%;
    width: 90%;
}

.terminal {
    font-family: 'Consolas';
    color: #56603D;
    font-size: large;
}

.terminal .help {
    margin: 5px 0 10px 5px;
}

.terminal .line {
    margin-left: 5px;
}

.terminal .output {
    margin: 5px 0 10px 5px;
}

.terminal input {
    width: 60%;
    border: none;
    background: #0c0c0c;
    color: #56603D;
    font-family: 'Consolas';
    font-size: large;
    outline: none;
}

.bottom {
    position: fixed;
    left: 50%;
    bottom: 1%;
}

.banner .links{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: larger;
    transform: translateX(-50%);
}

.banner .links a {
    text-decoration: none;
    color: #999999;
    margin: 10px;
    transition: all .2s ease-out;
}

.banner .links a:hover {
    color: #56603D;
    transition: all .2s ease-out;
}

.banner .copyrights {
    color: #999999;
    transform: translateX(-90px);
}

.banner .copyrights a {
    color: #999999;
}